<h1><%= @user.email %></h1>

 <div class="row">
   <div class="col-md-6">
     <p><%= @user.role %></p>
   </div>
   <div class="col-md-6">
     <% if @user.standard? %>
     <%= render "charges/new"  %>
     <% elsif @user.premium? %>
     <%= render "registrations/edit"  %>
     <% end %>
   </div>
 </div>